<!DOCTYPE html>
<html>
<head>	
</head>
<body>

	<div>
		<h1>Contract Management System</h1>
	</div>

	<label>Log In</label>			
	<form method="post" action="authenticate">
		<div>
			<input type="text" name="username" value="" placeholder="Email"></input>
		</div>
		<div>
			<input type="password" name="password" value="" placeholder="Password"/></input>
		</div>
		<div>
			<input type="submit" name="commit" value="Login"></input>		
		</div>
		<label>
			<a href="register">Register</a>
		</label>
		
	</form>

</body>
</html>