<!DOCTYPE html>
<html>
<head>
	<title>mcnewproject page</title>
</head>
<body>
	<form method="post" action="/savemcnewproject" encType="multipart/form-data">
		<div>
			Project Name		
			<input type="text" name="projectname"></input>
		</div>
		<div>
			Upload Tender
			<input type="file" name="tenderFile"></input>
		</div>
		<div>
			<a href="maincontractor"> Cancel </a>
			<input type="Submit" value="Submit"></input>
		</div>
	</form>
</body>
</html>